@font-face{
    font-family: league spartan;
    src: url(./LeagueSpartan-VariableFont_wght.ttf) format("ttf")
}
body{
    font-family: 'league spartan', sans-serif;
    font-weight: 400, 500, 700;
    font-size: 15px;
}
#is_buyer{
    color: hsl(333, 80%, 67%) ;
}
#ethos_glaze{
    color: hsl(300, 43%, 22%) ;
}
#self_glaze{
    color: hsl(303, 10%, 53%) ;
}
#reviewer{
    color: hsl(0, 0%, 100%) ;
}
#review{
    color: hsl(0, 0%, 100%) ;
}
#ethos{
    font-size: 30px;
    color: hsl(300, 43%, 22%) ;
}
#attribution{
    color: hsl(300, 43%, 22%) ;
}

.div3, .div4, .div5{
    background-color: hsl(300, 24%, 96%) ;
    border-radius: 12px;
}
.div6, .div7, .div8{
    background-color: hsl(300, 43%, 22%) ;
    border-radius: 12px;
    padding: 1rem;
}

.parent {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    padding: 1rem;
}

@media (min-width: 768px) {
    .parent {
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5rem;
        padding: 2rem;
    }
}

@media (min-width: 1024px) {
    .parent {
        grid-template-columns: repeat(3, 3fr);
        gap: 2rem;
        max-width:1200px;
        margin: 0 auto;
    }
}
/*
.div1 {
    grid-column: span 3 / span 3;
    grid-row: span 2 / span 2;
    grid-column-start: 2;
    grid-row-start: 3;
}

.div2 {
    grid-column: span 3 / span 3;
    grid-column-start: 2;
    grid-row-start: 5;
}

.div3 {
    grid-column: span 2 / span 2;
    grid-column-start: 8;
    grid-row-start: 3;
}

.div4 {
    grid-column: span 2 / span 2;
    grid-column-start: 9;
    grid-row-start: 4;
}

.div5 {
    grid-column: span 2 / span 2;
    grid-column-start: 10;
    grid-row-start: 5;
}

.div6 {
    grid-column: span 3 / span 3;
    grid-row: span 2 / span 2;
    grid-column-start: 2;
    grid-row-start: 7;
}

.div7 {
    grid-column: span 3 / span 3;
    grid-row: span 2 / span 2;
    grid-column-start: 5;
    grid-row-start: 8;
}

.div8 {
    grid-column: span 3 / span 3;
    grid-row: span 2 / span 2;
    grid-column-start: 8;
    grid-row-start: 9;
}
*/